<header>
  <div class="header">
    <div class="logo">
      <span>Images are from &rArr;</span>
      <a href="https://pixabay.com/" target="_blank">
        <img src="../assets/pixabay.png" alt="pixabay-logo" />
      </a>
    </div>
    <div class="owner">
      &copy;2019 Built with
      <i
        ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
          <title>angular</title>
          <polygon
            points="16 2 16 2 16 2 2.966 6.648 4.954 23.882 16 30 16 30 16 30 27.046 23.882 29.034 6.648 16 2"
            style="fill:#dd0031"
          ></polygon>
          <polygon
            points="16 2 16 5.108 16 5.094 16 19.276 16 19.276 16 30 16 30 27.046 23.882 29.034 6.648 16 2"
            style="fill:#c3002f"
          ></polygon>
          <path
            d="M16,5.094,7.852,23.364H10.89l1.638-4.088h6.916l1.638,4.088H24.12L16,5.094Zm2.38,11.662H13.62L16,11.03Z"
            style="fill:#fff"
          ></path>
        </svg>
      </i>
      by
      <a href="https://safarali.pro" target="_blank"
        ><strong>SafarAli</strong></a
      >
    </div>
  </div>

  <div class="searchbox" id="top">
    <h1>DigitAlbum</h1>
    <div class="search">
      <input
        type="text"
        #input
        [(ngModel)]="query"
        placeholder="search photos"
        required
      />
      <button
        type="submit"
        (click)="onSearch(query); query = ''"
        [disabled]="!query"
      >
        <i class="material-icons">
          image_search
        </i>
      </button>
    </div>
    <!-- <p *ngIf="isLoading">Loading images, please wait a bit...</p> -->
    <div *ngIf="isLoading" class="loading"></div>
  </div>
</header>

<div class="img-box">
  <figure
    *ngFor="
      let image of images
        | async
        | paginate: { itemsPerPage: 10, currentPage: p }
    "
  >
    <a href="{{ image.pageURL }}" target="_blank">
      <img src="{{ image.webformatURL }}" />
    </a>
  </figure>
</div>
<p
  *ngIf="noResults"
  style="text-align: center; color: rgb(185, 40, 40);"
  [hidden]="isLoading"
>
  Sorry, there are no images with that title.
</p>
<pagination-controls
  [hidden]="noResults"
  *ngIf="images"
  (pageChange)="p = $event"
  class="pagination"
></pagination-controls>
